.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #AAC79B;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  /* font-size: 30px; */
  /* font-weight: 700; */
  color: #000;
  padding-left: 10px;
  padding-bottom: 15px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #000;
  background-color:  #AAC79B;
  text-align: center;
  padding: 3.5rem 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}
